<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>iNeuron Courses</title>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  </head>
  <body>

    <div class="container">
      {{ pagination.links }}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            {% for course in courses %}
            <tr>
              <td>{{ loop.index + (page - 1) * per_page }}</td>
              <td>{{ course }}</td> <form id ="submitForm" method="POST" action="{{ url_for('get_course_details')}}">
                <input type="hidden" value="{{ course }}" name="options">
                <td><input type="submit" name="" value="Get Course Details"></td></form>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {{ pagination.links }}
    </div>
  </body>
</html>